APP_NAME=SmartDentQue
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=smartdentque
DB_USERNAME=user
DB_PASSWORD=password



# STEPS TO FINISH SETUP

# copy paste nala ini para ha .env
# docker compose exec php composer install
# docker compose exec php php artisan key:generate
# docker compose exec php php artisan migrate
# docker compose exec php chmod -R 775 storage bootstrap/cache
# docker compose exec php chown -R www-data:www-data storage bootstrap/cache